USE [BusDB]
GO
/****** Object:  Table [dbo].[BusTrace]    Script Date: 2019. 10. 05. 11:14:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BusTrace](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[BusId] [varchar](20) NOT NULL,
	[Longitude] [float] NOT NULL,
	[Latitude] [float] NOT NULL,
	[Timestamp] [datetime] NOT NULL,
	[speed] [float] NULL,
 CONSTRAINT [PK_BusTrace] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MeasuredData]    Script Date: 2019. 10. 05. 11:14:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MeasuredData](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[From] [int] NOT NULL,
	[To] [int] NOT NULL,
	[duration] [int] NOT NULL,
	[dateTime] [datetime] NOT NULL,
 CONSTRAINT [PK_MeasuredData] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[References]    Script Date: 2019. 10. 05. 11:14:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[References](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[From] [int] NOT NULL,
	[To] [int] NOT NULL,
	[duration] [time](7) NOT NULL,
	[intervalTime] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Timetable]    Script Date: 2019. 10. 05. 11:14:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Timetable](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[busNr] [int] NOT NULL,
	[startTime] [time](0) NOT NULL,
	[stationID] [int] NOT NULL,
	[weekday] [int] NOT NULL,
 CONSTRAINT [PK_Timetable] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[BusTrace] ON 

INSERT [dbo].[BusTrace] ([Id], [BusId], [Longitude], [Latitude], [Timestamp], [speed]) VALUES (43, N'44', 24.6020014, 46.5243824, CAST(N'2019-06-26T16:13:44.380' AS DateTime), NULL)
INSERT [dbo].[BusTrace] ([Id], [BusId], [Longitude], [Latitude], [Timestamp], [speed]) VALUES (44, N'44', 24.599186, 46.5268513, CAST(N'2019-06-26T16:14:15.373' AS DateTime), NULL)
INSERT [dbo].[BusTrace] ([Id], [BusId], [Longitude], [Latitude], [Timestamp], [speed]) VALUES (45, N'44', 24.5972605, 46.5315512, CAST(N'2019-06-26T16:14:48.633' AS DateTime), NULL)
GO
SET IDENTITY_INSERT [dbo].[BusTrace] OFF
SET IDENTITY_INSERT [dbo].[References] ON 

INSERT [dbo].[References] ([id], [From], [To], [duration], [intervalTime]) VALUES (1, 1, 2, CAST(N'00:04:00' AS Time), CAST(N'2016-12-21T00:00:00.000' AS DateTime))
INSERT [dbo].[References] ([id], [From], [To], [duration], [intervalTime]) VALUES (2, 2, 3, CAST(N'00:04:00' AS Time), CAST(N'2016-12-21T00:00:00.000' AS DateTime))
INSERT [dbo].[References] ([id], [From], [To], [duration], [intervalTime]) VALUES (3, 3, 4, CAST(N'00:04:00' AS Time), CAST(N'2016-12-21T00:00:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[References] OFF
SET IDENTITY_INSERT [dbo].[Timetable] ON 

INSERT [dbo].[Timetable] ([id], [busNr], [startTime], [stationID], [weekday]) VALUES (1, 44, CAST(N'05:10:00' AS Time), 1, 1)
INSERT [dbo].[Timetable] ([id], [busNr], [startTime], [stationID], [weekday]) VALUES (2, 44, CAST(N'05:30:00' AS Time), 1, 1)
INSERT [dbo].[Timetable] ([id], [busNr], [startTime], [stationID], [weekday]) VALUES (3, 44, CAST(N'05:50:00' AS Time), 1, 1)
GO
SET IDENTITY_INSERT [dbo].[Timetable] OFF
